* {
    box-sizing: border-box;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
  }


@media only screen and (min-width: 600px) {
    /* For tablet: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}  
@media only screen and(min-width:768px){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

header{
    background-image: url(images/pizza.jpg);
    color: white;
    height: 20rem;
    background-position: center;
    padding-top: 20px;
    padding-left: 0.4em;
    margin: 0px;
}
h1{
 color: white;
 text-align: center;
}
h3{
 color: #acacac;
 font-size: 1.075rem;
 text-align: center;
}
p{
color: #ccc;
padding-top: 0.2rem;
font-size: 1.12rem;
}
a:link,a:active,a:visited{
    color: white;
    text-decoration: none;
}
nav{
    float: right;
}
.paros_sec{
    background-color: #222222;
}
.paratlan_sec{
    background-color: #101010;
}
.sec_padding{
    padding: 1.2rem 0.6rem;
}
.first_sec_cim{
    text-align: right;
}
#st_sec_p{
    padding-top: 1.7rem;
}
#asztalfoglalas{
    color: white;
    font-size: 1.4rem;
}

