:root{
    --backround-light: #222;
    --backround-dark: rgb(16 16 16);
    --text-white: #fff;
    --text-gray-1: hsla(0,0%,100%,.7);
    --text-gray-2: #acacac;
    --text-gray-3: #ccc;
    --text-gray-4: hsla(0,0%,100%,.8);
}
body{
    font-size: 1.075rem;
}

footer{
    background-color: var(--backround-dark);
    font-size: .875rem;
    color: var(--text-gray-4);  
}
p , .list-open{
    color: var(--text-gray-4);
}
h1{
    margin-bottom: 0.75rem;
}
h2{
    font-size: 1.375rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
h3{
    font-size: 1.075rem;
    font-weight: 400;
    color: var(--text-gray-1);
    margin-bottom: 0.1875rem;
}
h4{
    font-size: 1rem;
}
section{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
nav{background-image: url(images/pizza.jpg);}

.section-light{
    background-color: var(--backround-light);
}
.section-dark{
    background-color: var(--backround-dark);
}
.probald-ki--foglalj-asztalt{
    font-weight: 500;
    color: var(--text-white);
}
.open-table .open-buttom-border{
    width: 100%;
    border-bottom: 0.6px solid var(--text-gray-4) ;
    padding-bottom: 4%;
    padding-top: 4%;
    
}
.nd_sec_button{
    width: 14rem;
    padding: .875rem 2rem;
    border: solid white 1px;
}
.button-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.galery-second-pic-heigth{
    height: 18.28rem;
}
.navbar-collapse{
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
}
#galery-fourth-pic-heigth
{
    min-height: 40rem;
    max-height: 50rem;
}
#galery-fifth-pic-heigth{
    max-height: 10rem;
}
#piadina-pizzeria{
    font-size: 1.5rem;
}
#tortenetunk{
    color: var(--text-gray-2);
}
#tortenetunk-szoveg{
    color: var(--text-gray-3);
}
#asztalfoglalas{
    font-weight: 600;
}
#ajanlatunk{
    margin-bottom: 1.125rem;
}
#try-out-our-fud{
    margin-bottom: 0.75rem;
}
#szeretettel-varunk{
    margin-bottom: 0rem;
}

#last-open{
    padding-bottom: 4%;
    padding-top: 4%;
}
#border-top-foother{
    padding-top: 2.8125rem;
    padding-bottom: 2.8125rem;
    width: 100%;
    border-top: solid var(--text-gray-4) 0.6px; 
}

#specialitasaink .picture-wrapper{
    position: relative;
    overflow: hidden;
}
#specialitasaink .picture-wrapper .title{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-bottom: 1.7%;
    padding-top: 4%;
    font-style: italic;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 55%);
}
#specialitasaink .picture-wrapper img{
    transition: transform 0.4s;
}
#specialitasaink .picture-wrapper img:hover{
    transform: scale(1.15);
}
#sec-menu a:link a:hover a:visited{
    text-decoration: none;
    color: white;
}
#header-img{
padding: 0%;
max-height: 40rem;
overflow: hidden;
}
#header-height{
    height: 100%;
}



/* {
    box-sizing: border-box;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
  }
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}  
@media only screen and(min-width:768px){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

header{
    background-image: url(images/pizza.jpg);
    color: white;
    height: 20rem;
    background-position: center;
    padding-top: 20px;
    padding-left: 0.4em;
    margin: 0px;
}
h1{
 color: white;
 text-align: center;
 font-size: 140%;
 font-weight: 600;
}
h2{
    display: inline;
}
h3{
 color: #acacac;
 font-size: 1.075rem;
 text-align: center;
 font-weight: 400;
}
p{
color: #ccc;
padding-top: 0.2rem;
font-size: 1.12rem;
}
a:link,a:active,a:visited{
    color: white;
    text-decoration: none;
}
nav{
    float: right;
}
.paros_sec{
    background-color: #222222;
}
.paratlan_sec{
    background-color: #101010;
}
.sec_padding{
    padding: 1.2rem 0.6rem;
}
.first_sec_cim{
    text-align: right;
}
.asztalfoglalas{
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    display: inline;
}
.nd_sec_menu_a{
   padding: .9rem 5rem; 
   border: 2px solid white;
   
}
.nd_sec_menu_outpadd{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.nd_sec_button{
    width: 51px;
}
#st_sec_p{
    padding-top: 1.7rem;
    text-align: left;
}
#nd_sec_p{
    text-align: center;
}
/*


